@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 4rem;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    'page-title page-title'
    'options grid-container';
}

.page-title {
  grid-area: page-title;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.grid-options {
  grid-area: options;
}

#grid-container {
  grid-area: grid-container;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.grid-cell {
  height: 100%;
  border: 1px solid black;
}

.color-cell {
  background: red;
}
