@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  width: 100vw;
  font-size: 10px;
  min-width: 320px;
}

header {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0;
}

h1 {
  font-size: 5em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

p {
  font-size: 1.8em;
}

p.subtitle {
  font-family: 'Permanent Marker', cursive;
  margin-top: 12px;
}

@media screen and (max-width: 540px) {
  header {
    height: 72px;
  }

  h1 {
    font-size: 3em;
  }

  p.subtitle {
    display: none;
  }
}
