* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.grid-cell {
  height: 100%;
  border: 1px solid black;
}
