@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  width: 100vw;
  font-size: 10px;
  min-width: 320px;
}

header {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0 16px;
}

h1 {
  font-size: 5em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

p {
  font-size: 1.8em;
}

.title,
.subtitle {
  color: white;
}

.subtitle {
  font-family: 'Permanent Marker', cursive;
  margin-top: 12px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin: 36px auto;
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}

.btn-white {
  background-color: #fff;
  margin-right: 10px;
}

.btn-black {
  background-color: #000;
  margin-right: 10px;
}

.btn-reset {
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
}

.range-slider {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 5px;
  background: white;
  outline: none;
  margin: 0;
  padding: 0;
}
.range-slider__value {
  width: 40px;
  padding: 5px 10px;
  margin-left: 8px;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
}

.grid-container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.grid-container__row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.grid-container__cell {
  height: 100%;
  border: 1px solid black;
}

.background-cell {
}

@media screen and (max-width: 414px) {
  .btn {
    width: 24px;
    height: 24px;
  }

  .btn-white,
  .btn-black {
    margin-right: 2px;
  }

  .btn-reset {
    font-size: 1em;
  }
}

@media screen and (max-width: 540px) {
  header {
    height: 72px;
  }

  h1 {
    font-size: 3.9em;
  }

  p.subtitle {
    display: none;
  }

  .options {
    width: 90%;
    margin: 12px auto;
  }

  .grid-container {
    width: 300px;
    height: 300px;
  }
}
